<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kaupthing.IOB.PlaybackTrace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kaupthing.IOB.PlaybackTrace.Properties.Settings>
            <setting name="Kaupthing_IOB_PlaybackTrace_StatementsService_IcelandicOnlineBankingStatementsService"
                serializeAs="String">
                <value>https://www.kaupthing.is/Services/OnlineBanking/2005/12/01/IcelandicOnlineBankingStatementsService.asmx</value>
            </setting>
        </Kaupthing.IOB.PlaybackTrace.Properties.Settings>
    </applicationSettings>
</configuration>