<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IIcelandicOnlineBankingDocumentService">
          <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="true">
            <localClientSettings detectReplays="true"/>
            <localServiceSettings detectReplays="true"/>
          </security>
          <textMessageEncoding/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.b2b.is/Documents/20130101/DocumentService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IIcelandicOnlineBankingDocumentService" contract="DocumentServiceProxy.IIcelandicOnlineBankingDocumentService" name="IsIT.B2B.DocumentServiceTraceTest.DocumentServiceProxy.IIcelandicOnlineBankingDocumentServiceChannel">
      </endpoint>
    </client>
  </system.serviceModel>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
