<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IsIT.B2B.DoPaymentTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="DoPaymentTest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="DoPaymentTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DoPaymentTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="DoPaymentTest.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type=""/>
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type=""/>
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type=""/>
					</add>
					<add name="ServiceModelTraceListener">
						<filter type=""/>
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type=""/>
			</add>
			<add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type=""/>
			</add>
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	<microsoft.web.services3>
		<diagnostics>
			<trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
		</diagnostics>
		<security>
			<x509 verifyTrust="false"/>
		</security>
	</microsoft.web.services3>
	<system.web>
		<webServices>
			<soapExtensionImporterTypes>
				<add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</soapExtensionImporterTypes>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</webServices>
		<compilation>
			<assemblies>
				<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	</system.web>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
 <applicationSettings>
  <IsIT.B2B.DoPaymentTest.Properties.Settings>
   <setting name="IsIT_B2B_DoPaymentTest_PaymentsService_IcelandicOnlineBankingPaymentsService"
    serializeAs="String">
    <value>https://ws-test.b2b.is/Payments/20051201/IcelandicOnlineBankingPaymentsService.asmx</value>
   </setting>
  </IsIT.B2B.DoPaymentTest.Properties.Settings>
 </applicationSettings>
</configuration>
