<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IAccountService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="true"/>
                    <textMessageEncoding>
                        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    </textMessageEncoding>
                    <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
                </binding>
                <binding name="CustomBinding_IAccountService1">
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="true">
                        <localClientSettings detectReplays="true"/>
                        <localServiceSettings detectReplays="true"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.b2b.is/Statements/20130101/AccountService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IAccountService" contract="Account20130101Proxy.IAccountService" name="IsIT.B2B.AccountServiceTest.Account20130101Proxy.IAccountServiceChannel">
            </endpoint>
            <endpoint address="https://ws.b2b.is/Statements/20130101/AccountService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IAccountService1" contract="Account20130101Proxy.IAccountService" name="CustomBinding_IAccountService">
            </endpoint>
        </client>
    </system.serviceModel>

    <system.net>
        <defaultProxy enabled="true" useDefaultCredentials="true">
            <!--<proxy bypassonlocal="true" proxyaddress="http://webproxy.center1.ad.local:8080"/>-->
        </defaultProxy>
    </system.net>
    
</configuration>
